[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick
[project]
	description = on demand refreshing of angular bindings
[access "refs/*"]
	owner = group user/Andrew Eisenberg (aeisenberg)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrew Eisenberg (aeisenberg)
	label-Verified = -1..+1 group user/Andrew Eisenberg (aeisenberg)
	push = group user/Andrew Eisenberg (aeisenberg)
	read = group user/Andrew Eisenberg (aeisenberg)
	rebase = group user/Andrew Eisenberg (aeisenberg)
	removeReviewer = group user/Andrew Eisenberg (aeisenberg)
	submit = group user/Andrew Eisenberg (aeisenberg)
[access "refs/heads/*"]
	create = group user/Andrew Eisenberg (aeisenberg)
	push = +force group user/Andrew Eisenberg (aeisenberg)
	pushMerge = group user/Andrew Eisenberg (aeisenberg)
	read = group user/Andrew Eisenberg (aeisenberg)
[access "refs/tags/*"]
	push = group user/Andrew Eisenberg (aeisenberg)
	push = +force group user/Andrew Eisenberg (aeisenberg)
